{minimum_otp_vsn, "19.0"}.
{erl_opts, [debug_info]}.

{deps, [
  {esio, % MIT Licensed
    {git, "https://github.com/fogfish/esio", {ref, "5cb528b60bbb08b4cd5d43a8c36339681968ca0d"}}
  },
  {uuid, % LGPLv3 Licensed
    {git, "https://github.com/avtobiff/erlang-uuid", {branch, master}}
  }
]}.

% Treat dependency conflicts as errors.
% Resolve manually.
{deps_error_on_conflict, true}.

% Make sure modules in .app match those found in code
{validate_app_modules, true}.

%%----------
% FIXME: Temporary stuff to generate sample conf from schema
% Should probably be put into a rebar3 profile if I can't find a better way
{project_plugins, [rebar3_cuttlefish]}.
{cuttlefish, [{schema_discovery, false}]}.

{relx, [
  {release,
    {emq_plugin_elasticsearch, "0.1.0"},
    [emq_plugin_elasticsearch]
  },
  {dev_mode, true},
  {include_erts, false},
  {overlay, [
    {template,
      "priv/emq_plugin_elasticsearch.schema",
      "share/schema/emq_plugin_elasticsearch.schema"
    }
  ]}
]}.
